<!doctype html>
<head>
	<link rel="stylesheet" href="/static/extras.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css">
</head>
<title> Fun to Bike </title>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">Fun to Bike</a>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>

<hr> <br>

<div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">

 <center>
 <h1>Citibike vs. MTA</h1>
 <h2>Travel time showdown</h2>
<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
    {{ message }} <br>
    {% endfor %}
    <br>
    </div>
  {% endif %}
{% endwith %}

{% block bodycontent %}
	This is placeholder content in the base template.
{% endblock bodycontent %}

 </center>
<hr>
<br>
</div>